.columnHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #5579c3;
	padding: 10px 15px;
	color: #fff;
}

.headerActions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.headerActions a {
	display: flex;
}

.headerActions span {
	padding: 0 5px;
}

.headerActions button {
	border: none;
	background: none;
	font-size: 22px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #4CAF50;
}

.headerActions a {
	color: #fff;
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 5px;
}
